/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --purple: #6b23b3;
  --bg: rgb(50, 51, 63);
  --button-gradient: linear-gradient(var(--purple), #1b1571);
  --red: rgb(160, 0, 0);
  --green: rgb(0, 160, 0);
}
a {
  text-decoration: none;
  color: inherit;
  transition: color .2s ease-in-out;
}
a:hover {
  color: var(--purple);
}
header, footer {
  width: 100%;
  padding: 1.5rem 0;
  text-align: center;
  font-size: 1.3rem;
  background-color: #eee;
  box-shadow: 0 0 10px #00000075;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h1 {
  font-size: 1.75rem;
  font-weight: 600;
  animation: slide-from-left .7s ease-in-out;
}
header button {
  animation: slide-from-right .7s ease-in-out;
  background: var(--button-gradient);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: .5em 1em;
  cursor: pointer;
}
main {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  gap: 10px;
  color: white;
}
.add-book {
  height: 75px;
  width: 75px;
  font-weight: 300;
  border-radius: 8px;
  font-size: 60px;
  cursor: pointer;
  background: var(--button-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate-in .8s ease-in-out;
  transition: all .5s ease-in-out;
}
.add-book:hover {
  transform: scale(1.2) rotate(90deg);
  opacity: 1;
  border-radius: 50%;
  box-shadow: 0 0 8px;
}

.form-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 1;
  opacity: 0;
  animation: fade-in 0.2s ease-in-out forwards;
}
form {
  width: 300px;
  min-height: 400px;
  overflow: hidden;
  background-color: #eee;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 2px 10px 15px #00000080;
}
form, .inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.inputs {
  justify-content: center;
  padding: 1rem;
}
input {
  padding: 1.1rem;
  text-align: center;
  border-radius: 5px;
  border: 0;
  box-shadow: 0 0 5px #00000080;
}
label {
  padding-top: .5rem;
}
::placeholder {
  color: rgb(68, 68, 68);
}
.top-modal, .bottom-modal {
  width: 100%;
  text-align: center;
}
.top-modal {
  padding: 1rem 0;
  background: var(--button-gradient);
  color: white;
  font-size: 1.4rem;
}
.bottom-modal {
  display: flex;
}
.bottom-modal button {
  border: 0;
  padding: 1rem 0;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: .9;
  transition: all .5s ease-in-out;
}
.bottom-modal button:hover {
  opacity: 1;
  box-shadow: inset 0 0 15px #00000040;
}
.bottom-modal :first-child {
  width: 35%;
  background-color: var(--red);
}
.bottom-modal :last-child {
  width: 65%;
  background-color: var(--green);
}
.library {
  display: flex;
  gap: 1rem;
  margin: 1rem;
  height: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .3rem;
  min-height: 150px;
  min-width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: rgb(135, 220, 241);
  box-shadow: 5px 5px 10px #00000080;
  transition: all .4s ease-in-out;
}
.book:hover {
  transform: scale(1.03);
  box-shadow: 6px 6px 15px #00000060;
}
.book span {
  font-weight: 400;
  margin-left: .5rem;
}
.book img {
  width: 25px;
  cursor: pointer;
}
.book img:hover {
  background-color: var(--red);
  border-radius: 5px;
}
footer p {
  opacity: 0;
  animation: fade-in 1s ease-in-out .3s forwards;
}
@keyframes rotate-in {
  0% {
    transform: scale(.9) rotate(-45deg);
    opacity: 0;
  }
  75% {
    transform: scale(1.05) rotate(0);
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: .9;
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes slide-from-left {
  0% {
    transform: translateX(-1000px);
  }
  75% {
    transform: translateX(50px);
  }
}
@keyframes slide-from-right {
  0% {
    transform: translateX(1000px);
  }
  75% {
    transform: translateX(-50px);
  }
}